<table class="table list-unstyled">
    <thead>
        <tr>
            <th>Pic</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr class="post">
        <td>
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <a href="{{url_for('.user', user_id=post.owner.id)}}">
                <img src={{url_for('static', filename=post.pic_path)}} width = 200></a>
        </td>
        <td>
            {% for line in post.text_res.split('\n')%}
            <span> {{line}} </span>
            <br/>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    <tbody>
</table>
